<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @plan.plan_name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @plan.public %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>


<%= link_to( "Dodaj ćwiczenia", action: :add_exercises) %>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
